body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

}

.a, .b, .c, .d, .e, .f, .g, .h {
  background-color: #3498db;
  color: white;
  text-align: center;
  line-height: 100px;
  transition: background-color 0.3s;
  box-sizing: border-box;
}

.a {
  grid-row: 1;  
  grid-column: 1 / span 4;
}

.b {
  grid-row: 2;
  grid-column: 1 / span 1;
}

.c {
  grid-row: 2;
  grid-column: 2 / span 1;
}

.d {
  grid-row: 2;
  grid-column: 3 / span 1;
}

.h {
  grid-row: 2 / span 2;
  grid-column: 4;
  
}

.e, .f, .g {
  grid-row: 3;
 

  }

  @media (max-width: 599px) {
    .container {
      grid-template-columns: repeat(3, 1fr); 
    }
  
    .a {
      grid-column: 1 / span 3; 
    }
  
    .b {
      grid-row: 2;
      grid-column: 1;
    }
    .c {
      grid-row: 2;
      grid-column: 2;
    }

        .d  {
      grid-row: 2;
      grid-column: 3;
    }

    .h {
      grid-row: 4;
      grid-column: 1 / span 3; 
    }
  
    .e {
      grid-row: 3;
      grid-column: 1;
    }

    .f {
      grid-row: 3;
      grid-column: 2;
    }

    .g {
      grid-row: 3;
      grid-column: 3;
    }
    
  
  }
  
  @media (min-width: 600px) {
    .container {
      grid-template-columns: repeat(4, 1fr);
    }
    .b {
      grid-row: 2;
      grid-column: 1;
    }
    .c {
      grid-row: 2;
      grid-column: 2;
    }

    .d  {
      grid-row: 2;
      grid-column: 3;
    }

    .h {
      grid-row: 2 /span 2;
      grid-column: 4;
    }

    .e {
      grid-row: 3;
      grid-column: 1;
    }

    .f {
      grid-row: 3;
      grid-column: 2;
    }

    .g {
      grid-row: 3;
      grid-column: 3;
    }
}
